/* header section  */
/* mobile device */
@media screen and (max-width:600px) {
    /* header{
        max-width: 81%;
    margin: 20px auto 25px;
    }
    .none{
        display: none;
    }
    .hide{
        display: show;
    }



    .banner {
        padding: 20px;
        width: 100%;
    } */
}