/* Mulish font from google */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

:root {
    --primary: #131318;
    --secondary: #5A5A5D;
    --tertiary: rgba(19, 19, 24, 0.70);
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    padding: 14px 35px;
    border: none;
}

/* header section start */
header {
    width: 81%;
    max-width: 1170px;
    margin: 50px auto 100px;
}

/* navbar section start */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo h2 {
    color: var(--primary);
    font-size: 36px;
    font-weight: 800;
}

.logo h2>span {
    color: #FF5400;
}

/* logo style end */
nav>ul {
    display: flex;
    justify-content: space-between;
}

nav>ul li {
    list-style: none;
    margin-left: 40px;
}

nav>ul li a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

nav>ul li a span {
    color: #FF5400;
}

/*  */
.disable {
    display: none;
}

/* banner section */
.banner-container {
    height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 16px;
}

.banner {
    padding: 100px 180px;
}

.banner h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner p {
    color: #FFF;
    text-align: center;
    margin: 25px 0px 50px;
}

.form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
}

.form input,
.form select,
.form button {
    padding: 16px;
    border-radius: 8px;
    color: var(--secondary);
    border: none;
    width: 170px;
    /*  */
}


.form>button {
    border-radius: 8px;
    background: #FF5400;
    text-align: center;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

/* main section */
main {
    width: 81%;
    max-width: 1170px;
    margin: 0 auto;
}

/* tour section */
.tour {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}



.tour-content * {
    margin-bottom: 24px;
}

.tour-content button {
    margin-top: 10px;
}

.tour-content h2 {
    color: var(--primary);
    font-size: 40px;
    font-weight: 800;
}

.tour-content p,
.tour-content ul>li {
    color: var(--tertiary);

}

.tour-content ul>li {
    margin-left: 25px;
}



.tour .tour-img>img {
    width: 100%;
}

/* destination section */
.destination {
    margin-top: 100px;
}

/* common title */
.section-text {
    text-align: center;
}

.section-title {
    color: var(--primary);
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-para {
    color: var(--tertiary);
    text-align: center;
    margin: 25px 0px 50px;

}

/* common title end */
/* destination section */
.destination-img{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
}
.common{
    object-fit: cover;
}
.destination-img img{
    width: 100%;
    height: 100%;
}
.div1{
    grid-column: 1/span 6;
}
.div2{
    grid-column: 7/span 6;
}
.div3{
    grid-column: 1/span 4;
}
.div4{
    grid-column: 5/span 5;
}
.div5{
    grid-column: 10/span 3;
}
.div6{
    grid-column: 1/span 5;
}
.div7{
    grid-column: 6/span 7;
}

/* choose section */
.choose {
    margin-top: 100px;
}

.choose-card1 {
    display: flex;
    justify-content: space-between;
    gap: 24px;

}

.card1 {
    width: 48%;
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
}

.card2 {
    width: 48%;
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
}

.card3 {
    margin-top: 24px;
    width: 48%;
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
}

.card {
    padding: 32px;
}

.card h2 {
    color: var(--primary);
    font-size: 24px;
    font-weight: 800;
    margin: 30px 0px 15px;
}

.card p {
    color: var(--secondary);
}

.choose-card2 {
    display: flex;
    justify-content: center;
}
/* feature section */
.feature {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap:30px;
}
.feature-img{
    border: none;
}
.feature-img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.feature-content {
    text-align: left;
}

.feature-content h2 {
    color: #0A0826;
    font-size: 2.4rem;
    font-weight: 700;
    margin-top: 2rem;
}

.feature-content p {
    color: #6C6C6C;
    font-size: 1rem;
    font-weight: 700;
    margin: 2rem 0;
}

/* discount section */
.discount {
    margin-top: 100px;
}

.discount-banner-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.banner1 {
    background-image: url("../Images/Group\ 39.png");
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    /*  */
    justify-content: end;
    align-items: center;
}

.banner2 {
    background-image: url("../Images/Group\ 40.png");
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    /*  */
    justify-content: start;
    align-items: center;
}

.banner3 {
    background-image: url("../Images/Group\ 39.png");
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    /*  */
    justify-content: end;
    align-items: center;
}

.deal {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
    margin: 55px;
}

.deal span {
    color: var(--secondary);
}

.deal h3 {
    color: var(--primary);
    font-size: 24px;
    font-weight: 800;
    margin-top: 25px;
}

.deal p {
    color: var(--secondary);
    margin: 16px 0px;
}

.deal h4 {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 25px;
}

.last-btn {
    text-align: center;
}

/* watch section */
.watch-section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    
}

.watch-text {
    width: 40%;
}

.watch-text h3 {
    color: var(--primary);
    font-size: 40px;
    font-weight: 800;
}

.watch-text p {
    color: var(--secondary);
    margin: 24px 0px;
}

.watch-text ul>li {
    color: var(--primary);
    font-weight: 700;
    margin-left: 15px;
    margin-bottom: 16px;
}

.watch-text button {
    margin-top: 16px;
}

.watch-video {
    width: 55%;
    border-radius: 16px;

}

/* newsletter section */
.newsletter {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    /* margin-bottom: 100px; */
}

.newsletter-text {
    padding: 40px;
    border-radius: 16px;
}

.newsletter-text h4 {
    color: var(--primary);
    font-size: 24px;
    font-weight: 800;
}

.newsletter-text p {
    color: var(--secondary);
    margin: 16px 0px 24px;
}

.newsletter-text #name {
    margin: 24px 0px 16px;
}

.newsletter-text input {
    color: rgba(19, 19, 24, 0.30);
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    width: 100%;
    padding: 16px 20px;
}

.newsletter-text button {
    margin-top: 24px;
    width: 100%;
}

.newsletter-img {
    background-image: url("../Images/Rectangle\ 8\ \(1\).png");
    width: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 5px;
}

.save-card {
    text-align: center;
    width: 48.51%;
    height: 29.70%;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
    position:absolute;
    top: 59%;
    left: 50%;
    
}

.save-card h3 {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;

}

.save-card h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}

/* footer */
footer {
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
}

.footer-main {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 110px 0px;
}

.footer-main p {
    color: var(--secondary);
    text-align: center;
    margin: 15px 0px 30px;

}

.logo-container {
    display: flex;
    justify-content: center;
    gap: 30px;

}
.logo-container .logo{
    height: 40px;
    width: 45px;

}
.logo-container .logo img{
    width: 100%;
}

.logo-container h2 {
    color: var(--primary);
    font-size: 32px;
    font-weight: 800;
}

.logo-container h2>span {
    color: #FF5400;
}

.social-link a {
    margin-right: 20px;
    color: var(--primary);
    font-size: 25px;

}

.footer-main hr {
    margin: 50px 0px;
    background: rgba(19, 19, 24, 0.10);
}

.footer-main .copyright {
    color: #131318;
}

/*  */


/* media queiry */
@media screen and (max-width:600px) {
    .unable {
        display: none;
    }

    .disable {
        display: block;
    }

    .menu-icon {
        margin-right: 50px;
    }

    .logo {
        width: 40%;
    }

    .logo h2 {
        font-size: 1.5rem;
    }

    .logo img {
        width: 100%;
    }

    /* banner */
    .banner-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .banner {
        padding: 40px 0px;
    }

    .banner h1 {
        font-size: 1.5rem;
    }

    .form,
    .tour,
    .newsletter,
    .watch-section {
        flex-direction: column;
    }

    /* destination section */
    /* choose section */
    .choose-card1 ,.feature{
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    /* watch section */
    
    .watch-video {
        width: 100%;
        margin-top: 24px;
    }

    .watch-video video {
        width: 100%;
        height: 100%;
        border-radius: 10px;

    }

    .watch-text {
        width: 100%;
    }
    .watch-text h3{
        font-size: 1.5rem;
    }

    .watch-text ul li {
        margin-left: 30px;
    }
    /* feature section */

    /* newsletter */
    .newsletter-img {
        width: 100%;
        height: 400px;
    }
    .save-card h3{
        font-size: 10px;
    }
    .save-card h3{
        font-size: 1rem;
    }
    .save-card{
        top: 64%;
        left: 49%;
    }
    .logo-container {
        gap: 16px;
    
    }
    /* destination */
    .div1{
        grid-column: 1/span 1;
    }
    .div2{
        grid-column: 1/span 1;
    }
    .div3{
        grid-column: 1/span 1;
    }
    .div4{
        grid-column: 1/span 1;
    }
    .div5{
        grid-column: 1/span 1;
    }
    .div6{
        grid-column: 1/span 1;
    }
    .div7{
        grid-column: 1/span 1;
    }
    .destination-img{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
    }
    .destination-img{
        grid-template-columns: 1fr;
    }
    /* discount */
    .deal{
        padding: 10px;
    }
}

@media screen and (min-width:601px) and (max-width:991px) {
    .unable {
        display: none;
    }

    .disable {
        display: block;
    }

    .menu-icon {
        margin-right: 80px;
    }

    .logo {
        width: 40%;
    }

    .logo h2 {
        font-size: 1.5rem;
    }

    .logo img {
        width: 80%;
    }

    /*  */
    .form {
        flex-direction: column;
    }

    .banner-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }

    .banner {
        padding: 40px 0px;
    }

    .banner h1 {
        font-size: 1.5rem;
    }
    /* card */
    .newsletter-img {
        width: 100%;
        height: 400px;
    }
    .save-card h3{
        font-size: 10px;
    }
    .save-card h3{
        font-size: 1rem;
    }
    
    .save-card{
        top: 60%;
        left: 46%;
        height: 35.7%;
    }
    .logo-container {
        gap: 23px;
    
    }
    /* destination */
    .div1{
        grid-column: 1/span 1;
    }
    .div2{
        grid-column: 1/span 1;
    }
    .div3{
        grid-column: 1/span 1;
    }
    .div4{
        grid-column: 1/span 1;
    }
    .div5{
        grid-column: 1/span 1;
    }
    .div6{
        grid-column: 1/span 1;
    }
    .div7{
        grid-column: 1/span 1;
    }
    .destination-img{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
    }
    .destination-img{
        grid-template-columns: 1fr;
    }

}


@media screen and (min-width:992px) and (max-width:1140px){
    .banner {
        padding: 100px 0px;
    }
    .tour-img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    /* watch section */
    .watch-text ul li {
        margin-left: 30px;
    }

}